@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.userCardFull {
	background-color: #39463c;
	z-index: 9;
	position: relative;
	display: flex;
}
.banner {
	width: 100%;
}
.avatar {
	max-width: 20vw;
	max-height: 20vh;
}
.username {
	padding: 0.5vh 0;
	margin: 0;
	font-size: min(5vw, 5vh);
}
.profileContainer {
	display: flex;
	position: relative;
	padding: 2vh;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	height: 20vh;
	gap: 2vh;
	align-content: start;
	width: 50%;
}
.yetAnotherContainer {
	display: flex;
	flex-direction: column;
	justify-content: end;
}
.yetAnotherContainer > img {
	height: 4vh;
	width: max-content;
}
.badgeContainer {
	padding: 0.5vh;
	margin: 0;
	display: flex;
	gap: 1vw;
}
.quickInfo {
	font-family: "M PLUS Rounded 1c", sans-serif;
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}
.quickInfo > h1 {
	flex: 2 0 calc(100% - 10px);
	font-size: 3vh;
	margin: 0;
}
.quickInfo > p {
	flex: 2 0 calc(50% - 10px);
	margin: 0;
}
