@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.userCardFull {
	background: var(--cfp-bg-secondary);
	z-index: 1;
	position: relative;
	display: flex;
	justify-content: space-between;
	color: white;
	padding: 1em;
}
.userCardFull > div {
	margin: 1em;
	color: white;
}
.banner {
	width: 100%;
}
.avatar {
	height: 100%;
}
.username {
	margin: 0 0 0.2em 0;
	font-size: 3em;
}
.profileContainer {
	display: flex;
	position: relative;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	height: 13em;
	gap: 1em;
	align-content: start;
	width: 50%;
}
.yetAnotherContainer {
	display: flex;
	flex-direction: column;
	justify-content: end;
	max-height: 7em;
}
.yetAnotherContainer > img {
	height: 3em;
	width: max-content;
}
.badgeContainer {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	max-width: 50%;
	max-height: 5em;
}
.quickInfo {
	font-family: "M PLUS Rounded 1c", sans-serif;
	width: 40%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}
.quickInfo > h1 {
	flex: 2 0 calc(100% - 10px);
	font-size: 150%;
	margin: 0;
}
.quickInfo > p {
	flex: 2 0 calc(50% - 10px);
	margin: 0;
}
