.matchDetails-links {
	display: flex;
	justify-content: center;
	gap: 1em;
}
.matchEvent {
	display: flex;
	padding: 1em 0;
}
.matchEvent.prePick {
	display: flex;
	margin: 1em 0;
	border-top: 1px dashed #ffffff30;
}
.matchEvent > div {
	width: 50%;
	text-align: center;
}
.matchEvent > div > p {
	display: inline;
}
.MatchScoresContainer {
	display: flex;
}
.MatchScoreContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 50%;
	padding: 1em 0;
}
.MatchScoreContainer > p {
	margin: 0;
	font-weight: bold;
	font-size: 2em;
}
.MatchScoreContainer > div {
	display: flex;
	align-items: center;
	gap: 1em;
}
.MatchScoreContainer > table {
	width: 95%;
}
.MatchScorePoints {
	font-size: 1.5em;
}
.MatchScoreContainer.winner {
	background-color: var(--cfp-bg-tertiary);
}
.MatchScoreContainer.looser {
	background-color: var(--cfp-bg);
}
.MatchScoreContainer.winner > .MatchScorePoints {
	color: var(--green) !important;
}
.MatchScoreContainer.looser > .MatchScorePoints {
	color: var(--red) !important;
}
.MatchScorePoints {
	margin: 1em 0;
}
.MatchPlay {
	margin: 1em 0;
}
.MatchPlayHeader {
	height: 10em;
	display: flex;
	flex-direction: column-reverse;
	padding: 0.5em;
	position: relative;
}
.MatchPlayHeader > p {
	text-shadow: 0 0 5px #00000050;
	margin: 0;
}
.MatchPlayHeader > p:last-child {
	font-size: larger;
}
.MatchPlayHeader img {
	min-width: 100%;
	max-width: 100%;
}
.MatchPlayBeatmapMod {
	position: absolute;
	right: 1em;
	top: 1em;
}
.MatchTeamEventPlayerScore {
	display: flex;
	width: 24em;
	text-align: center;
}
.MatchTeamEventPlayerScore p {
	margin: auto 0.25em;
}
.matchGrid {
	width: 100%;
}
.matchGrid-row {
	display: flex;
	align-items: center;
	justify-content: center;
}
.matchGrid-row p {
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
}
.matchGrid-item-pfp img {
	height: 3em;
}
.matchGrid-item-pfp {
	text-align: start;
	width: 15%;
}
.matchGrid-item-mod {
	width: 11%;
	word-wrap: break-word;
}
.matchGrid-item-combo {
	width: 15%;
}
.matchGrid-item-acc {
	width: 15%;
}
.matchGrid-item-stats {
	width: 33%;
}
.matchGrid-item-score {
	width: 20%;
	text-align: end;
}
@media screen and (min-width: 480px) and (max-width: 900px) {
	.matchGrid-item-pfp {
		text-align: start;
		width: 25%;
	}
	.matchGrid-item-mod {
		display: none;
	}
	.matchGrid-item-combo {
		width: 24%;
	}
	.matchGrid-item-acc {
		width: 25%;
	}
	.matchGrid-item-stats {
		display: none;
	}
	.matchGrid-item-score {
		width: 25%;
		text-align: end;
	}
}
@media screen and (min-width: 50px) and (max-width: 480px) {
	.matchGrid-item-pfp {
		text-align: start;
		width: 50%;
	}
	.matchGrid-item-mod {
		display: none;
	}
	.matchGrid-item-combo {
		display: none;
	}
	.matchGrid-item-acc {
		display: none;
	}
	.matchGrid-item-stats {
		display: none;
	}
	.matchGrid-item-score {
		width: 49%;
		text-align: end;
	}
}
.match-DoubleStat-block {
	display: flex;
	justify-content: space-between;
	gap: 10em;
}
