@media screen and (max-width: 540px) {
	/* content and panes */
	.mainContent {
		width: 100%;
		margin-top: 10%;
		margin-top: 15%;
		gap: 5px;
		min-height: 50vh;
		justify-content: space-evenly;
	}
	.centerPane {
		flex-basis: 100%;
	}
	.leftPane,
	.rightPane {
		display: none;
	}
	/* main page */
	.tourneyCard {
		margin: 5em 0 1em;
	}
	/* matchSmall */
	.matchSmall {
		width: 100%;
	}
	.matchSmall > a > img {
		max-width: 3em;
		padding: 0 0.25em;
	}

	.matchSmall > p {
		width: auto;
		font-size: 1em;
	}
	/* footer */
	.footer {
		justify-content: space-evenly;
	}
	.footer > * {
		font-size: 0.75em;
		margin: 0;
	}
	/* tourneyPage */
	.tourneyPage {
		width: 100%;
		padding: 0em;
	}
	.tourneyCardhero {
		padding: 1em;
	}
	.tourneyResultsContent,
	.tourneyScheduleContent {
		padding: 1em;
	}
	/* navbar */
	.navBar {
		height: calc(7% + 0.75em);
		width: 100vw;
		left: 50vw;
	}
	/* beatmapcardmed */
	.BeatMapCardMed {
		height: 3em;
	}
	.BeatMapDataCont {
		width: 55%;
	}
	.BeatMapCardMed p {
		font-size: 0.75em;
	}
	.BeatmapMod {
		padding: 0.5em;
		border-radius: 2.5em;
		min-width: 2em;
	}
	.BeatmapMod > p {
		font-size: 1em;
	}
	.BeatMapDataCont > a {
		font-size: 1em;
	}
	/* usermenu */
	.userMenu {
		min-width: 10em;
		border-radius: 10px;
		z-index: 100;
	}
	.userMenu a {
		padding: 0.5em 1em;
	}
	/* profile */
	.profilePageThe2st {
		margin: 10em 0 5em;
	}
	.profileContainer,
	.quickInfo {
		width: 100%;
	}
	.userCardFull {
		flex-wrap: wrap;
	}
	.BeatMapid {
		display: none;
	}
	.BeatMapSlot {
		font-size: 1.5em;
		margin: 0 0.5em;
	}
	/* team page */
	.profilePageThe2st {
		width: 100%;
	}
	.teamProfilePlayersSegment > a > img {
		max-width: 4em;
	}
	.teamProfilePlayersSegment > a {
		width: 18%;
	}
	.teamProfilePlayersSegment > a > p {
		width: 100%;
	}
	/* Disable player pop up */
	.playerCardSmall,
	.teamCardSmall {
		display: none;
	}
	/* Amazing universal styles that I should've used in a first placee */
	.content,
	.contentSlim {
		width: 100%;
		margin: 10em auto 0;
		padding: 0em;
	}
	.content-section,
	.contentSlim-section {
		width: 100%;
		margin: 0 auto;
		padding: 0em;
	}
	/* That one input element */
	.minimalisticInput {
		max-width: 10em;
	}

	/* Match page */
	.MatchCardBig {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.MatchCardBigPlayer {
		width: 35%;
	}
	.MatchCardBigPlayer > a {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 1em;
	}
	.MatchCardBigPlayer > a > p {
		font-size: 100%;
	}
	.MatchCardBigPlayer > a > img {
		max-width: 75%;
	}
	/* Cookie warning */
	.cfpWarningPopupContent {
		width: 100%;
	}
	/* error pages */
	.somethingWentWrong {
		width: 100%;
		padding: 1em;
		margin: 10em 0;
	}
}
