@media screen and (min-width: 540px) and (max-width: 1200px) {
	/* content and panes */
	.mainContent {
		width: 100%;
		margin-top: 10%;
		gap: 5px;
		min-height: 50vh;
		justify-content: space-evenly;
	}
	.centerPane {
		flex-basis: 70%;
	}
	.leftPane {
		display: none;
	}
	/* matchSmall */
	.matchSmall {
		width: 100%;
	}
	.matchSmall > a > img {
		max-width: 2em;
		padding: 0 0.25em;
	}

	.matchSmall > p {
		width: auto;
		font-size: 1em;
	}
	/* footer */
	.footer > * {
		font-size: 0.75em;
	}
	/* tourneyPage */
	.tourneyPage {
		width: 95%;
	}
	/* navbar */
	.navBar {
		height: calc(10% + 0.75em);
	}
	/* beatmapcardmed */
	.BeatMapDataCont {
		width: 60%;
	}
	.BeatmapMod {
		padding: 0.5em;
		border-radius: 2.5em;
		min-width: 2em;
	}
	.BeatmapMod > p {
		font-size: 1em;
	}
	/* usermenu */
	.userMenu {
		min-width: 10em;
		border-radius: 10px;
		z-index: 100;
	}
	.userMenu a {
		padding: 0.5em 1em;
	}
	/* profile */
	.profilePageThe2st {
		margin: 10em 11% 5em;
	}
	.profileContainer,
	.quickInfo {
		width: 100%;
	}
	.userCardFull {
		flex-wrap: wrap;
	}
}
