.leftPane,
.rightPane {
	background: var(--cfp-bg-tertiary);
	padding: 0.5em;
	flex-basis: 22%;
}
.leftPane > div,
.rightPane > div {
	text-align: center;
	border-bottom: 1px solid #ffffff10;
}
.leftPane {
}
.centerPane {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-basis: 56%;
}
.rightPane > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
