.teamCardSmall {
	visibility: hidden;
	opacity: 0;
	bottom: 3em;
	position: absolute;
	width: max-content;
	height: 8em;
	padding: 2em 1em 0em 1em;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
	background: var(--cfp-bg);
	box-shadow: 0px 0px 20px black;
	transition: opacity 0.1s;
	z-index: 9;
}
.teamCardSmall > p {
	position: absolute;
	top: 1em;
	left: 1em;
}
.teamCardSmall > img:nth-child(1) {
	position: absolute;
	width: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 50%);
	z-index: 1;
	top: 0;
	object-fit: cover;
	height: 8em;
}
.teamCardContainer {
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 2;
}
.teamCardContainer > p {
	z-index: 2;
	margin: 0;
	text-shadow: 1px 1px 5px black;
	font-size: 1em;
	width: inherit;
}
.teamCardContainer > img {
	max-width: 5em;
	border-radius: 1em;
}
.teamCardSmallRank {
	margin: 0 1em 0 0;
	font-size: 1.5em;
	z-index: 2;
}
*:has(> .teamCardSmall):hover .teamCardSmall {
	visibility: visible;
	opacity: 1;
}
