.tourneyCardSmall {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 5%;
	align-items: center;
	position: relative;
	max-height: 5em;
}
.tourneyCardSmall > a {
	color: var(--cfp-accent);
	text-decoration: none;
}
.tourneyCardSmall > a:hover {
	text-decoration: underline;
}
.tourneyCardSmall > p,
.tourneyCardSmall > a {
	text-align: left;
	margin: 0;
	width: 62%;
	font-size: 1em;

	/* overflow bullshit */
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.tourneyCardSmall > img {
	margin: 2.5em 0;
	height: auto;
	max-width: 4em;
	height: auto;
	object-fit: contain;
}
.tourneyCardSmall-date {
	font-size: smaller;
}
