.matchSmall {
	display: flex;
	height: 2.5em;
	justify-content: space-between;
	align-items: center;
	margin: 1.5em 0;
	width: 89%;
}
.matchSmall > a > img {
	height: auto;
	max-width: 4vw;
	max-height: 5vh;
}
.matchSmall > p {
	width: auto;
	font-size: min(2vh, 2vw);
	margin: 0 1em;
}
