.matchSmall {
	display: flex;
	height: 2.5em;
	justify-content: space-between;
	align-items: center;
	margin: 1em 0;
	width: 89%;
	cursor: pointer;
}
.matchSmall > a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.matchSmall > a > img {
	height: auto;
	max-width: 3em;
	object-fit: contain;
}

.matchSmall > p {
	width: auto;
	margin: 0;
	font-size: 1em;
	position: relative;
}

.matchSmall > p .tooltip {
	visibility: hidden;
	opacity: 0;
	min-width: 15em;
	max-width: 20em;
	padding: 1em 0.5em;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	transition: opacity 0.2s;
}

.matchSmall > p .tooltip::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.matchSmall > p:hover .tooltip {
	visibility: visible;
	opacity: 1;
}
