.matchMed {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.5vh 0;
	width: 30vw;
	cursor: pointer;
	background-color: #3f4e43;
	padding: min(1.5vh, 1.5vw);
	border-radius: 5px;
	transition: all 0.1s;
}
.matchMed:hover {
	box-shadow: 0 0 10px #00000050;
}

.matchMed > a {
	width: 20%;
	height: 7vh;
	max-width: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.matchMed > a > img {
	width: auto;
	height: 100%;
	max-width: auto;
	max-height: 100%;
	object-fit: cover; /* Adjust this based on your preference: contain, cover, or scale-down */
}

.matchMed > p {
	width: auto;
	font-size: min(2vh, 2vw);
	margin: 0 1em;
	position: relative;
}

.matchMed > p .tooltip {
	visibility: hidden;
	opacity: 0;
	width: 15vw;
	padding: 2vh 1vw;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	transition: opacity 0.2s;
}

.matchMed > p .tooltip::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.matchMed > p:hover .tooltip {
	visibility: visible;
	opacity: 1;
}
