.userArea {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	cursor: pointer;
	flex-basis: 15%;
}

.userInfo {
	display: flex;
	align-items: center;
	height: 90%;
}

.userInfo img {
	border-radius: 50%;
	max-width: 2.5em;
	max-height: auto;
	margin-right: 10px;
	object-fit: contain;
}

.userInfo p {
	margin: 0;
	font-size: 1em;
}

.userMenu {
	position: absolute;
	top: 100%;
	left: unset;
	background: var(--cfp-bg);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
	z-index: 10;
	display: flex;
	flex-direction: column;
	min-width: 9em;
	border-radius: 10px;
	z-index: 100;
	right: 0;
}

.userMenu a {
	text-decoration: none;
	color: var(--cfp-text);
	transition: background-color 0.3s;
	font-family: "Raleway", sans-serif;
	font-size: 0.9em;
	border-radius: 5px;
	margin: 0.5em 0.5em;
	padding: 0.5em 1.5em;
	position: relative;
}
.userMenu a:before {
	transition: all 0.3s;
	background-color: #00000000;
	border-radius: 100px;
	content: "";
	height: 0.4em;
	left: 0.5em;
	position: absolute;
	top: 1.2em;
	width: 0.4em;
	box-shadow: var(--cfp-accent) 00 0px 0px 0px;
}
.userMenu a:hover::before {
	height: 1.5em;
	top: 0.5em;
	background: var(--cfp-accent);
	box-shadow: var(--cfp-accent) 0px 0px 10px;
}
.userMenu a:hover {
	background: var(--cfp-bg-tertiary);
	text-decoration: none;
}
