.userArea {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	cursor: pointer;
	flex-basis: 15%;
}

.userInfo {
	display: flex;
	align-items: center;
}

.userInfo img {
	border-radius: 50%;
	max-width: 5vw;
	max-height: 5vh;
	margin-right: 10px;
}

.userInfo p {
	margin: 0;
	font-size: 2vh;
}

.userMenu {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #171c18;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
	z-index: 10;
	display: flex;
	flex-direction: column;
	min-width: 150px;
	border-radius: 10px;
}

.userMenu a {
	text-decoration: none;
	color: white;
	transition: background-color 0.3s;
	font-family: "Raleway", sans-serif;
	font-size: 1.75vh;
	border-radius: 5px;
	margin: 0.45vh 0.5vw;
	padding: 0.25vh 2vw;
	position: relative;
}
.userMenu a:before {
	transition: all 0.3s;
	background-color: #66ff7f00;
	border-radius: 100px;
	content: "";
	height: 2vh;
	left: 0.9vw;
	position: absolute;
	top: 0.6vh;
	width: 0.4vw;
	box-shadow: #66ff7f00 0px 0px 0px;
}
.userMenu a:hover::before {
	background-color: #66ff7f;
	border-radius: 100px;
	content: "";
	height: 2vh;
	left: 0.9vw;
	position: absolute;
	top: 0.6vh;
	width: 0.4vw;
	box-shadow: #66ff7f 0px 0px 10px;
}
.userMenu a:hover {
	background-color: #2e3830;
	text-decoration: none;
}
