.tourneyCardhero {
}
.tourneyCardhero > img {
	width: 100%;
}
.tourneyInfoShort {
	display: flex;
	flex-wrap: wrap;
}
.tourneyInfoShort > div {
	flex: 0 0 49%;
}
.tourneyNews > div {
	display: flex;
	justify-content: space-around;
}
